@tailwind base;
@tailwind components;
@tailwind utilities;
/* primary color - #1F1E24 */
/* Secondary color - #6556CD */

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1e24;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6556cd;
  border-radius: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-ppearance: none;
  appearance: none;
  background: #27272a;
  border: 0 !important;
  background-image: none;
  flex: 1;
  outline: none;
  padding-left:8px  ;
  margin:0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  box-shadow: none;
}
select::-ms-expand {
  display: none;
}

/* .options {
  background: #dadada;
  color: #27272a;
} */

.select {
  position: relative;
  display: flex;
  width: 18em;
  height: 3em;
  line-height: 3;
  border-radius: 0.25em;
  overflow: hidden;
  background-color: #dadada;
  
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  pointer-events: none;
  background-color: #27272a;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #6556cd;
}
